<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
          <head>
            <script>
          // <![CDATA[
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5BCGL5'); 
          // ]]>
          </script>
          <title>404 Error - Tarleton State University</title>
          <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
          <meta content="no-cache" http-equiv="cache-control"/>
          <meta content="width=device-width" name="viewport"/>
          <meta content="NOODP" name="robots"/>
          <meta content="NOODP" name="googlebot"/>

          <link href="/common/_css/full-sass.css" rel="stylesheet" type="text/css"/>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
          <script src="/common/_script/lazy/lazy-sass.js"></script>
          <script src="/common/_script/sliderific/sliderific-sass.js"></script>
          <script src="/common/_script/collapsify/collapsify-sass.js"></script>
          <script src="/common/_script/default-sass.js"></script><!--[if lt IE 9]>
    <script>
            //IE Check for browsers older than 9
            window.onload = function(){
                if (navigator.userAgent.match(/MSIE\s(?!9.0)/)) {
                    document.getElementById("ie-error").style.color="white";
                    document.getElementById("ie-error").style.background="red";
                    document.getElementById("ie-error").style.display="block";
                }
            }
        </script>
    <![endif]-->

         </head>
          <body>
<a class="hidden" href="#skiptocontent">Skip to page content</a>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BCGL5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<div class="off-canvas-slider">
                      <div class="mobile-audience-menu dark-gray" role="navigation">
    <div id="global_nav">
                          <h1>I am a(n)<span class="mobile-audience-menu-show close-menu float-right" title="Close Menu">&#160;<span class="screenreader-only">Close Audience Menu</span></span></h1>
                          <ul role="menu">
        <li role="presentation"><a href="//www.tarleton.edu/currentstudents/" role="menuitem"> Student</a></li>
        <li role="presentation"><a href="//www.tarleton.edu/facultystaff/" role="menuitem"> Faculty / Staff</a></li>
        <li role="presentation"><a href="//www.tarleton.edu/alumniengagement/" role="menuitem"> Alum</a></li>
        <li role="presentation"><a href="//www.tarleton.edu/visitors/" role="menuitem"> Visitor</a></li>
        <li role="presentation"><a href="//www.tarleton.edu/family/" role="menuitem"> Parent</a></li>
        <li role="presentation"><a href="//www.tarleton.edu/international/" role="menuitem"> International Student</a></li>
        <li role="presentation"><a href="//www.tarleton.edu/employment/" role="menuitem"> Job Seeker</a></li>
      </ul>
                        </div>
  </div>
                      <div class="section clearfix floating-search" role="search">
    <div class="col cu12 floating-search-controls">
                          <form class="floating-search-form form-search">
        <input class="floating-search-go-input" type="button" value="&#xe07f;"/>
        <label class="hidden" for="floating-search-input">Search</label>
        <input class="search-box" id="floating-search-input" placeholder="Search"/>
        <input class="floating-search-reset-input" title="Reset" type="reset" value="&#xe0fa;"/>
      </form>
                          <a class="floating-search-show cancel-form search-cancel" href="#" role="button" title="Cancel">Cancel</a> </div>
    <div class="col cu12 floating-search-results">
                          <p> </p>
                        </div>
  </div>
                      <div id="main">
    <div class="clearfix footer desktop-hide mobile-sticky-header dark-gray" role="navigation">
                          <div class="wrapper">
        <div class="cu12 col desktop-hide center">
                              <div class="col cu3-static mobile-audience-menu-show">
            <div role="button"><span data-icon="&#xe071;">&#160;</span><span class="screenreader-only">I am a(n)</span></div>
          </div>
                              <div class="col cu6-static search-box">
            <div role="button"><span data-icon="&#xe07f;">&#160;</span><span class="screenreader-only">Search</span></div>
          </div>
                              <div class="col cu3-static mobile-main-menu-show">
            <div role="button"><span data-icon="&#xe0b8;">&#160;</span><span class="screenreader-only">Menu</span></div>
          </div>
                            </div>
      </div>
                        </div>

    <div class="clearfix mobile-logo-header purple" role="banner">
      <div class="cu12">
        <div class="no-margin flag-drop-overlap"><a href="https://www.tarleton.edu/"><img alt="Tarleton State University, Member of The Texas A&amp;M University System" src="/common/_css/images/tarleton-horizontal-logo-external.png"/></a></div>
      </div>
    </div>
    <div class="clearfix mobile-hide mini-hide tablet-hide sticky-header" role="banner">
      <div class="cu12 purple">
        <div class="col cu4-static no-margin flag-drop-overlap"><a href="https://www.tarleton.edu/"><img alt="Tarleton State University, Member of The Texas A&amp;M University System" class="tsu-header-name" src="/common/_css/images/tarleton-horizontal-logo-external.png"/></a></div>
        <div class="cu8-static text-right panel-right">
                              <div class="cus12 top-nav-panel" role="navigation">
            <ul class="inline transition" role="menubar">
                                  <li><a href="//www.tarleton.edu/az.html" role="menuitem">A-Z Directory</a></li>
                                  <li><a href="//www.tarleton.edu/common/links/calendars.html" role="menuitem">Calendar</a></li>
                                  <li><a href="//www.tarleton.edu/campus/" role="menuitem">Maps</a></li>
                                  <li><span class="nav-show top-nav-login-box" role="menuitem" title="Login">Login</span>
                <div class="sub-nav">
                                      <ul role="menu">
                    <li role="presentation"><a class="gateway" href="//www.tarleton.edu/common/links/mygateway.html" role="menuitem"><span data-icon="&#xe0c1;" title="myGateway"></span> myGateway</a></li>
                    <li role="presentation"><a href="//www.tarleton.edu/common/links/academic/blackboard.html" role="menuitem"><span data-icon="&#xe005;" title="BlackBoard"></span> BlackBoard</a></li>
                    <li role="presentation"><a href="//www.tarleton.edu/common/links/student/parent-portal.html" role="menuitem"><span data-tsu-icon="&#58911;" title="Parent Portal"></span> Parent Portal</a></li>
                    <li role="presentation"><a href="//www.tarleton.edu/portfolium" role="menuitem"><span data-icon="&#57513;" title="Portfolium"></span> Portfolium</a></li>
                    <li role="presentation"><a href="//www.tarleton.edu/common/links/password.html" role="menuitem"><span data-icon="&#57479;" title="Reset Password"></span> Reset Password</a></li>
                    <li role="presentation"><a href="//www.tarleton.edu/technology/studentemail/index.html" role="menuitem"><span data-icon="&#xe040;" title="Student Email"></span> Student Email</a></li>
                    <li role="presentation"><a href="//www.tarleton.edu/ssc" role="menuitem"><span data-icon="&#57466;" title="Student Success Collaborative"></span> Student Success Collaborative</a></li>
                    <li role="presentation"><a href="//www.tarleton.edu/common/links/student/orgsync.html" role="menuitem"><span data-icon="&#xe07c;" title="TexanSync"></span> TexanSync</a></li>
                  </ul>
                                    </div>
              </li>
                                </ul>
          </div>
                              <div class="cus12 top-search-panel text-right panel-right">
            <div class="mobile-hide mini-hide tablet-hide panel-right cu4-tablet transition">
                                  <ul role="menubar">
                <li>
                                      <div class="nav-show"><span class="i-am-a-audience-box" role="menuitem">I am a(n)</span></div>
                                      <div class="sub-nav">
                    <ul role="menu">
                                          <li role="presentation"><a href="//www.tarleton.edu/currentstudents/" role="menuitem"> Student</a></li>
                                          <li role="presentation"><a href="//www.tarleton.edu/facultystaff/" role="menuitem"> Faculty / Staff</a></li>
                                          <li role="presentation"><a href="//www.tarleton.edu/alumniengagement/" role="menuitem"> Alum</a></li>
                                          <li role="presentation"><a href="//www.tarleton.edu/visitors/" role="menuitem"> Visitor</a></li>
                                          <li role="presentation"><a href="//www.tarleton.edu/family/" role="menuitem"> Parent</a></li>
                                          <li role="presentation"><a href="//www.tarleton.edu/international/" role="menuitem"> International Student</a></li>
                                          <li role="presentation"><a href="//www.tarleton.edu/employment/" role="menuitem"> Job Seeker</a></li>
                                        </ul>
                  </div>
                                    </li>
              </ul>
                                </div>
          </div>
                            </div>
      </div>
                          <div class="cu12 mobile-hide mini-hide tablet-hide nav dark-gray" role="navigation">
        <div class="center">
                              <div class="panel-center">
            <ul>
                                  <li>
                <div class="nav-show"><a href="//www.tarleton.edu/academics.html">Academics</a></div>
                <div class="sub-nav dyn-menu" id="component-desktop-academics-panel"> </div>
              </li>
                                  <li>
                <div class="nav-show"><a href="//www.tarleton.edu/about/">About Us</a></div>
                <div class="sub-nav dyn-menu" id="component-desktop-about-us-panel"> </div>
              </li>
                                  <li>
                <div class="nav-show"><a href="//www.tarleton.edu/admissions/">Admissions</a></div>
                <div class="sub-nav dyn-menu" id="component-desktop-admissions-panel"> </div>
              </li>
                                  <li>
                <div class="nav-show"><a href="//www.tarleton.edu/common/links/athletics.html">Athletics</a></div>
              </li>
                                  <li>
                <div class="nav-show"><a href="//www.tarleton.edu/giving/">Giving</a></div>
              </li>
                                  <li>
                <div class="nav-show"><a href="//www.tarleton.edu/veterans/">Veterans</a></div>
              </li>
                                </ul>
          </div>
                            </div>
      </div>
                        </div>
    <div id="main-content-stacked">
                          <div class="section clearfix mobile-hide mini-hide tablet-hide desktop-hide" id="ie-error" role="complementary">
        <h1>!Your version of Internet Explorer is not supported. Please upgrade your browser to enhance your user experience. Firefox and Chrome are viable alternatives if you cannot upgrade your browser to Internet Explorer 9 or above!</h1>
      </div>
                          <div class="main-content" id="skiptocontent" role="main">
                          <div id="article-start"></div>
        <div class="section clearfix article white">
                              <h1>Sorry, we are unable to find your requested resource.</h1>
                              <% 
                                  vURL = Server.HtmlEncode(Request.ServerVariables("QUERY_STRING"))
                                  remove403ErrorMessage = Replace(vURL,"403;","")
                                  remove404ErrorMessage = Replace(remove403ErrorMessage,"404;","")
                                  removePortNumber80 = Replace(remove404ErrorMessage,":80","")
                                  removehttpsProtocol = Replace(removePortNumber80,"https://","")
                                  removehttpProtocol = Replace(removehttpsProtocol,"http://","")
                                  %>
                            </div>
        <div class="section clearfix article white">
                              <div class="col cu6-tablet white">
            <div class="no-icons"><img alt="Tarleton water tower" data-original="//www.tarleton.edu/home/images/404-2019.jpg" src="//www.tarleton.edu/common/_css/lazy/transResponsive.gif"/></a></div>
            
          </div>
                              <div class="col cu6-tablet white">
            <div class="margin-block">
                                  <p>We apologize that we cannot find the Web page or file that you are looking for. Perhaps a part of our website is undergoing maintenance, a link you clicked on goes to an old website, or the web address is misspelled somewhere. If none of these are the case, please use one of the resources on this page to aid you in your search.</p>
                                </div>
          </div>
                            </div>
        <div class="section clearfix article white">
                              <div class="button-panel"><a class="cu12-mobile cu4 button-box purple col" href="//www.tarleton.edu/az.html"> A-Z Directories</a><a class="cu12-mobile cu4 button-box purple col" href="//www.tarleton.edu/about/index.html"> About Us</a><a class="cu12-mobile cu4 button-box purple col" href="//www.tarleton.edu/contact/index.html" id="http://www.tarleton.edu/contact/index.html"> Contact Us</a></div>
                            </div>
                            <div id="article-end"></div>
      </div>
                        </div>
    <div class="section clearfix footer dark-gray" role="contentinfo">
                          <div class="col cu6">
        <div class="tsu-seal">
                              <div class="col cu6 dyn-menu" id="component-footer-left-image">&#160;</div>
                            </div>
        <div class="tsu-seal-nav">
                              <div class="col cu6 footer-main-menu">
            <ul class="dyn-menu" id="component-footer-left-menu" role="menu">
                                  &#160;
                                </ul>
          </div>
                            </div>
      </div>
                          <div class="col cu6">
        <div class="member-TAMU">
                              <div class="panel-right cu6 dyn-menu" id="component-footer-right-image">&#160;</div>
                            </div>
        <div class="member-TAMU-nav">
                              <div class="col cu6 footer-main-menu">
            <ul class="dyn-menu" id="component-footer-right-menu" role="menu">
                                  &#160;
                                </ul>
            <ul role="menu">
                                  <li role="presentation"><a class="feedback" href="http://tarleton.wufoo.com/forms/mwy0z8y1tqzu9b/def/field15=<% Response.Write(removehttpProtocol) %>&field19=404error" role="menuitem">Submit Website Feedback</a></li>
                                </ul>
          </div>
                            </div>
      </div>
                        </div>
  </div>
                      <div class="col cu2-static to-top"><span class="top-of-page" title="Top of Page">&#160;</span></div>
                      <div class="mobile-main-menu dark-gray tablet-hide desktop-hide" role="navigation">
    <div id="global-menu-nav">
                          <h1>Main Menu<span class="mobile-main-menu-show close-menu float-right" title="Close Menu">&#160;<span class="screenreader-only remove-text">Close Main Menu</span></span></h1>
                          <ul class="dyn-menu" id="component-mobile-main-menu" role="menu"/>
      
                        </div>
  </div>
                    </div>
</body>
</html>